.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: justify;
}

.header {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo {
  border-radius: 50%;
  border: 5px solid #ffff;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.name p:nth-child(2) {
  text-transform: uppercase;
}

.info {
  margin-top: 50px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 25%;
}

.sidebar h2 {
  border-bottom: 2px solid white;
}

.sidebar ul a {
  color: white;
  text-decoration: underline;
}

.sidebarContent h2,
ul {
  margin-top: 30px;
  list-style-type: none;
  text-align: justify;
}

.sidebarContent ul {
  padding: 0 20px;
}

.listItem {
  display: flex;
  align-items: center;
}

.listItem li,
a {
  margin-left: 10px;
  margin-top: 5px;
}

.mainInfo {
  width: 65%;
}

.mainContent {
  margin-bottom: 50px;
}

.mainContent ul {
  margin-top: 10px;
  padding: 0 50px;
  list-style-type: disc;
}

.mainContentHeader {
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  padding: 5px 0;
}

.listIcon {
  font-size: 1.7rem;
}

.mainContentHeader h2 {
  margin-left: 10px;
  text-transform: uppercase;
}

.contentText {
  margin-top: 20px;
}

.about {
  text-indent: 1.25em;
  font-size: 1.2rem;
}

.speciality,
.university {
  text-indent: 1.25em;
}

.speciality {
  font-weight: bold;
}

.university {
  color: lightgrey;
}

.projectName,
.projectDescription {
  text-align: start;
  padding: 0 10px;
}
