.quoteContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  width: 60%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quoteText,
.quoteAuthor {
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(186, 186, 186, 0.3);
  text-align: center;
}

.quoteText {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 1.5rem;
}

.quoteAuthor {
  width: 30%;
  margin-top: 20px;
  border-radius: 15px;
}

.buttons {
  margin-top: 20px;
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.generateBtn,
.favoriteBtn {
  cursor: pointer;
  border: none;
}

.generateBtn {
  width: 150px;
  height: 35px;
  background-color: #4ddbc7;
  color: #222;
  font-weight: bold;
  border-radius: 10px;
}

.generateBtn:active {
  background-color: #40b6a7;
}

.favoriteBtn {
  font-size: 2.5rem;
  color: #dba64d;
  background-color: unset;
}

.noneFavorites {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.favorites {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.favoriteQuote {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  color: #222;
  padding: 20px;
  margin: 0 10px 10px 0;
  border-radius: 10px;
}

.favoriteQuoteText,
.favoriteQuoteAuthor {
  text-align: center;
}
