.quote-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  width: 60%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-text,
.quote-author {
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(186, 186, 186, 0.3);
  text-align: center;
}

.quote-text {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 1.5rem;
}

.quote-author {
  width: 30%;
  margin-top: 20px;
  border-radius: 15px;
}

.quote-buttons {
  margin-top: 20px;
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.quote-generate-btn,
.quote-favorite-btn {
  cursor: pointer;
  border: none;
}

.quote-generate-btn {
  width: 150px;
  height: 35px;
  background-color: #4ddbc7;
  color: #222;
  font-weight: bold;
  border-radius: 10px;
}

.quote-generate-btn:active {
  background-color: #40b6a7;
}

.quote-favorite-btn {
  font-size: 2.5rem;
  color: #dba64d;
  background-color: unset;
}

.none-favorite-quote {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.quote-favorites {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.favorite-quote {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  color: #222;
  padding: 20px;
  margin: 0 10px 10px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favorite-quote:hover {
  background-color: lightgrey;
}

.favorite-quote-text,
.favorite-quote-author {
  text-align: center;
}
