.book-library {
  width: 80%;
  margin: 30px auto 0 auto;
  display: flex;
}

.book-library .leftside {
  flex: 1;
  flex-basis: 20%;
  margin-right: 50px;
}

.book-library .rightside {
  flex: 1;
  flex-basis: 65%;
}

@media (max-width: 1024px) {
  .book-library {
    flex-direction: column;
  }
  .book-library .leftside {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
