.header {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #647c93;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.logo {
  margin: 0 auto 0 30px;
  font-family: Lora, sans-serif;
  font-size: 2rem;
}

.menu {
  display: flex;
  margin: 0 50px 0 0;
  gap: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  list-style-type: none;
}

.navLink {
  color: white;
}

.navLinkActive {
  color: #6fe851;
}
