.book-form {
  width: 25%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
}

.book-form-inputs {
  width: 80%;
  margin: 30px 0;
}

.book-form-inputs label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.book-form-buttons {
  width: 85%;
}

.book-form-addBook {
  width: 100px;
}

.book-form-addRandomBook {
  width: 150px;
  margin-left: 10px;
}

.book-form-addRandomBookViaAPI {
  width: 200px;
  margin-top: 10px;
}

.book-form-addBook,
.book-form-addRandomBook,
.book-form-addRandomBookViaAPI {
  height: 35px;
  background-color: #4ddbc5;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-active:active {
  background-color: #496964;
  color: white;
}
