.bookForm {
  width: 25%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
}

.bookFormInputs {
  margin: 30px 0;
}

.bookFormInput {
  width: 85%;
  height: 35px;
  margin-top: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
}

.bookFormButtons {
  width: 85%;
}
