.about-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: justify;
}

.about-header {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-photo {
  border-radius: 50%;
  border: 5px solid #ffff;
}

.about-name {
  font-size: 2rem;
  font-weight: bold;
}

.about-name p:nth-child(2) {
  text-transform: uppercase;
}

.about-info {
  margin-top: 50px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.about-sidebar {
  width: 35%;
}

.about-sidebar h2 {
  border-bottom: 2px solid white;
}

.about-sidebar ul a {
  color: white;
  text-decoration: underline;
}

.about-sidebar-content:first-child {
  margin: 10px 0;
}

.about-sidebar-content:not(:first-child) {
  margin: 30px 0;
}

.about-sidebar-content h2,
ul {
  list-style-type: none;
  text-align: justify;
}

.about-sidebar-content ul {
  width: 100%;
  padding: 20px 10px;
}

.about-listItem {
  display: flex;
  align-items: center;
}

.listItem-icon {
  font-size: 1.5rem;
}

.about-listItem li,
a {
  margin: 10px 10px;
}

.about-main-info {
  width: 60%;
}

.about-main-content {
  margin-bottom: 50px;
}

.about-main-content ul {
  margin-top: 10px;
  padding: 0 50px;
  list-style-type: disc;
}

.about-main-content-header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  padding: 5px 0;
}

.about-main-list-icon {
  font-size: 1.7rem;
}

.about-main-content-header h2 {
  margin-left: 10px;
  text-transform: uppercase;
}

.about-main-content-text {
  margin-top: 20px;
}

.about-main-content-text p {
  text-indent: 1.25em;
  font-size: 1.2rem;
}

.about-main-speciality,
.about-main-university {
  text-indent: 1.25em;
}

.about-main-speciality {
  font-weight: bold;
}

.about-main-university {
  color: lightgrey;
}

.about-main-projectName,
.about-main-projectDescription {
  text-align: start;
  padding: 0 10px;
}

.about-main-content-text .about-main-projectDescription {
  font-size: 1rem;
}

@media (max-width: 1600px) {
  .about-header {
    width: 60%;
  }
}

@media (max-width: 1280px) {
  .about-header {
    width: 100%;
    flex-direction: column;
  }
  .about-photo {
    margin-bottom: 20px;
  }
  .about-name p {
    text-align: center;
    font-size: 1.5rem;
  }
  .about-info {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .about-info {
    flex-direction: column;
  }
  .about-sidebar {
    width: 100%;
  }
  .about-main-info {
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .about-name p {
    font-size: 1.3rem;
  }
}
